<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bast">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/roundedicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/roundicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".HomeScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ConnectSystemActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".SystemMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".LockListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".UserListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".RoleListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>